<!DOCTYPE html>
<html>
<head>
    <title>System info {{ ansible_hostname }}</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Server: {{ ansible_hostname }}</h1>
    <ul>
        <li><b>CPU:</b> {{ ansible_processor[1] }} ({{ ansible_processor_cores }} cores)</li>
        <li><b>RAM:</b> {{ (ansible_memtotal_mb / 1024) | round(1) }} GB</li>
        <li><b>HDD:</b> {{ ansible_devices.sda.size }}</li>
        <li><b>IP-adress:</b> {{ ansible_default_ipv4.address }}</li>
        <li><b>OS:</b> {{ ansible_distribution }} {{ ansible_distribution_version }}</li>
    </ul>
</body>
</html>
